.btn-blue{
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    margin: 10px;
}